@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: #031231;
  background-color: #05ffdb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff;
  color: #031231;
}

// Scrollbar Design
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #031231;
}

pre::-webkit-scrollbar,
code::-webkit-scrollbar {
  height: 6px;
}

pre::-webkit-scrollbar-track,
code::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

pre::-webkit-scrollbar-thumb,
code::-webkit-scrollbar-thumb {
  background-color: #031231;
}

// Default Tag
// Recheck default tags design
.post-content {
  & a {
    color: inherit;
    text-decoration: none;
    box-shadow: inset 0 -6px 0 0 rgba(5, 255, 219, 0.75);
    transition: all 300ms ease;
    display: inline-block;
    line-height: 100%;
    margin-right: 12px;

    &:hover {
      box-shadow: inset 0 -24px 0 0 rgba(5, 255, 219, 0.75);
    }
  }

  & > * {
    margin: 0.5em 0;
  }

  & > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0em;
  }
}

.post-content h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-h font-bold;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

code {
  padding: 3px;
  background-color: rgb(248, 249, 251);
  border-radius: 4px;
  border: 1px solid rgb(218, 222, 237);
  font-size: 14px;
}

pre {
  @apply block p-2;
  background-color: rgb(248, 249, 251);
  border-radius: 4px;
  border: 1px solid rgb(218, 222, 237);
}

blockquote {
  @apply border-l-2 border-aquamarine-500;
  margin: 1rem 0 !important;
  line-height: 26px;
  padding-left: 10px;
  line-height: 30px;
}

// Tailwind Components
@layer components {
  .folded-corner {
    @apply absolute right-0 bottom-0 h-0 w-0 bg-white-500;
    border: 1.6rem solid transparent;
    border-color: #c1fff6 transparent transparent #c1fff6;
  }
}

// Custom Classes
.dot {
  width: 4px;
  height: 4px;
  background-color: #374151;
  border-radius: 100vh;
}

.hero {
  @apply relative;
  min-height: 65vh;
  margin-top: 52px;

  @media only screen and (max-width: 768px) {
    min-height: 55vh;
  }
}

.btn {
  @apply relative flex cursor-pointer items-center justify-center py-2 px-4 text-midnight-500;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
}

.btn-outline {
  border: 1px solid;
  overflow: hidden;
  position: relative;

  span {
    z-index: 20;
  }

  &:after {
    background: #05ffdb;
    content: '';
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
  }
}

.btn-outline:hover {
  &:after {
    left: 120%;
    transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.btn-fill {
  border: 1px solid;
  overflow: hidden;
  position: relative;
  background-color: #031231;
  color: #fff;

  span {
    z-index: 20;
  }

  &:after {
    background: #05ffdb;
    content: '';
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
  }
}

.btn-fill:hover {
  &:after {
    left: 120%;
    transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.hero-l {
  @apply absolute top-1/2 left-1/2 flex -translate-y-1/2 -translate-x-1/2 flex-col items-center justify-center;
  max-width: 100rem;
  width: 90%;
}

.main-title {
  @apply text-center font-h text-4xl font-bold text-white-500 sm:text-5xl md:text-7xl;

  @media only screen and (max-width: 768px) {
    @apply py-2;
  }
}

.post-tag {
  @apply relative bg-aquamarine-500 px-3 py-2.5 font-t text-xs font-semibold uppercase leading-3 tracking-sm text-midnight-500;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    // background-color: rgb(5, 255, 219);
    opacity: 0.45;
    width: 70px;
    height: 2px;
  }

  &::before {
    right: 105%;
  }

  &::after {
    left: 105%;
  }
}

.card {
  &:hover {
    & .card-con {
      & .shadow-box {
        opacity: 0;
      }

      &::before {
        opacity: 1;
      }

      // &-text {
      //   & h1 {
      //     color: #05ffdb;
      //   }
      // }
    }

    & .card-img {
      transform: scale(1.075);
    }
  }

  &-img {
    transition: transform 0.3s ease-in-out;
  }

  & .card-con {
    position: relative;
    background-color: #fff;
    z-index: 20;

    &::before {
      position: absolute;
      z-index: 1;
      content: '';
      top: 0;
      left: 0;
      box-shadow: 0 0 13px 5px rgb(188 188 188 / 30%);
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: opacity 0.6s ease-in-out;
    }

    & .shadow-box {
      position: absolute;
      top: 0;
      opacity: 1;
      height: 45px;
      width: 100%;
      z-index: 1;
      box-shadow: 0 0 13px 5px rgb(188 188 188 / 30%);
      transition: opacity 0.5s ease-in-out;
    }

    &-text {
      background-color: #fff;
      z-index: 100;

      & h1 {
        transition: color 0.3s ease-in-out;
      }
    }
  }
}

.sp-card {
  &:hover {
    & .sp-card-title {
      @apply inset-8;

      @media only screen and (max-width: 1024px) {
        @apply inset-6;
      }

      @media only screen and (max-width: 640px) {
        @apply inset-4;
      }
    }

    & .f-img {
      transform: scale(1);
    }
  }

  & .f-img {
    @apply transition-all delay-300 ease-in;
    transform: scale(1.075);
  }

  &-up {
    @apply relative;
    height: 480px;

    @media only screen and (max-width: 1024px) {
      height: 400px;
    }

    @media only screen and (max-width: 768px) {
      height: 260px;
    }

    @media only screen and (max-width: 640px) {
      height: 200px;
    }
  }

  &-title {
    @apply absolute inset-3 flex flex-col items-center justify-center border-2 border-white-500 p-4 text-white-500 transition-all delay-300 ease-in md:inset-5 md:border-4 lg:inset-12;

    & > span {
      @apply relative pb-2 font-t text-sm font-bold uppercase tracking-sm;
      color: rgba(255, 255, 255, 0.6);

      &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 50px;
        background-color: rgba(255, 255, 255, 0.4);
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
  }
}

.logo {
  @apply cursor-pointer;
  width: 300px;

  @media only screen and (max-width: 768px) {
    width: 175px !important;
  }
}

.post-details {
  @apply container relative z-20 mx-auto -mt-16 bg-white-500 p-4 sm:p-8;

  & .post-shadow {
    position: absolute;
    top: 4rem;
    height: 90px;
    width: 100%;
    left: 0;
    right: 0;

    &::before {
      content: url('../public/shadow.png');
      left: -8px;
      position: absolute;
    }

    &::after {
      content: url('../public/shadow-inverse.png');
      right: -8px;
      position: absolute;
    }
  }
}

.btn-noti {
  @apply mt-4 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between sm:gap-0;

  & > span {
    @apply opacity-100;
  }
}

// Swiper Library
.swiper-pagination-bullet {
  background-color: #031231 !important;
}

// Navbar
.navbar {
  background-color: #031231;
  height: 52px;
  border-bottom: 1px solid #535353;
  border-top: 1px solid #535353;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  z-index: 99999;
  font-family: 'Montserrat';
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  @apply fixed text-xs font-bold;
}

.navbar-logo {
  justify-self: start;
  padding: 0 1.4rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 25px;
  list-style: none;
  text-align: center;
  flex: 1;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #535353;
  height: 52px;
  color: rgba($color: #fff, $alpha: 0.5);
  @apply cursor-pointer tracking-md;
}

.nav-links {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

// .nav-links:hover {
//   background-color: #1888ff;
//   border-radius: 4px;
//   transition: all 0.2s ease-out;
// }

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.share-link {
  border-left: 1px solid #535353;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 1.4rem;
}

@media screen and (max-width: 960px) {
  .navbar {
    justify-content: space-between;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 51px);
    position: absolute;
    top: 51px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease-in;
  }

  .nav-menu.active {
    background: #080810;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease-in;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  }

  .menu-icon {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    margin: 0 12px;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  .nav-item {
    border: none;
  }

  .share-link {
    display: none;
  }
}

// Menu Icon
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.menuActive {
  transform: rotate(45deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.menuActive .top {
  stroke-dashoffset: -68px;
}
.ham4.menuActive .bottom {
  stroke-dashoffset: -68px;
}

// Dropdown
.dropdown-menu {
  background: red;
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #1888ff;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #5cabff;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}

.pagination {
  @apply col-span-1 flex justify-between;

  @media only screen and (min-width: 768px) {
    grid-column: 1 / span 2;
  }
}

.checkbox {
  @apply flex items-center;
}

.checkbox svg {
  stroke: #031231;
}

.box {
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s linear;
  fill: none;
}

.check {
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  fill: none;
  transition: stroke-dashoffset 0.3s linear;
}

.reverse {
  .box {
    stroke-dashoffset: 320;
  }
  .check {
    stroke-dashoffset: 0;
  }
}
