@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply bg-white-500 font-t text-midnight-500 selection:bg-aquamarine-500 selection:text-midnight-500;
}

// Scrollbar Design
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #031231;
}

pre::-webkit-scrollbar,
code::-webkit-scrollbar {
  height: 6px;
}

pre::-webkit-scrollbar-track,
code::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

pre::-webkit-scrollbar-thumb,
code::-webkit-scrollbar-thumb {
  background-color: #031231;
}

// Default Tag
// Recheck default tags design
.post-content {
  & a {
    @apply mr-3 inline-block leading-none;
    text-decoration: none;
    box-shadow: inset 0 -6px 0 0 rgba(5, 255, 219, 0.75);
    transition: all 300ms ease;

    &:hover {
      box-shadow: inset 0 -24px 0 0 rgba(5, 255, 219, 0.75);
    }
  }

  & > * {
    @apply my-2;
  }

  & > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-0;
  }
}

.post-content h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-h font-bold;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

code {
  @apply rounded  bg-white-600 p-[3px] text-sm;
}

pre {
  @apply block rounded border border-solid border-white-600 p-2;
}

blockquote {
  @apply my-4 border-l-2 border-aquamarine-500 pl-2 leading-7;
  margin: 1rem 0 !important;
}

// Tailwind Components
@layer components {
  .folded-corner {
    @apply absolute right-0 bottom-0 h-0 w-0 border-[25px] border-solid border-transparent bg-white-500;
    border-color: #c1fff6 transparent transparent #c1fff6;
  }
}

// Custom Classes
.dot {
  @apply h-1 w-1 rounded-full bg-[#374151];
}

.hero {
  @apply relative mt-[52px] min-h-[65vh];

  @media only screen and (max-width: 768px) {
    @apply min-h-[55vh];
  }
}

.btn {
  @apply relative flex items-center justify-center py-2 px-4 text-xs font-normal uppercase text-midnight-500;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.btn-outline {
  @apply relative overflow-hidden border border-solid border-midnight-500 after:absolute after:-top-12 after:-left-[75px] after:h-36 after:w-12 after:rotate-[35deg] after:bg-aquamarine-500 after:opacity-20 after:content-[""] hover:after:left-[120%];

  span {
    @apply z-20;
  }

  &:after {
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.btn-outline:hover {
  &:after {
    transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.hero-l {
  @apply absolute top-1/2 left-1/2 flex w-[90%] max-w-[100rem] -translate-y-1/2 -translate-x-1/2 flex-col items-center justify-center;
}

.main-title {
  @apply text-center font-h text-4xl font-bold text-white-500 sm:text-5xl md:text-7xl;

  @media only screen and (max-width: 768px) {
    @apply py-2;
  }
}

.title {
  @apply m-auto mb-4 w-3/4 max-w-xl text-center font-h text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl;
}

.para {
  @apply m-auto mb-4 w-[90%] max-w-3xl text-center font-t;
}

.post-tag {
  @apply relative bg-aquamarine-500 px-3 py-2.5 font-t text-xs font-semibold uppercase leading-3 tracking-sm text-midnight-500;
}

.card {
  &:hover {
    & .card-con {
      @apply before:opacity-100;
      & .shadow-box {
        @apply opacity-0;
      }
    }

    & .card-img {
      @apply scale-[1.075];
    }
  }

  &-img {
    transition: transform 0.3s ease-in-out;
  }

  & .card-con {
    @apply relative z-20 bg-white-500 before:absolute before:top-0 before:left-0 before:z-[1] before:h-full before:w-full before:opacity-0 before:content-[""];

    &::before {
      box-shadow: 0 0 13px 5px rgb(188 188 188 / 30%);
      transition: opacity 0.6s ease-in-out;
    }

    & .shadow-box {
      @apply absolute top-0 z-[1] h-11 w-full opacity-100;
      box-shadow: 0 0 13px 5px rgb(188 188 188 / 30%);
      transition: opacity 0.5s ease-in-out;
    }

    &-text {
      @apply z-[100] bg-white-500;

      & h1 {
        transition: color 0.3s ease-in-out;
      }
    }
  }
}

.sp-card {
  &:hover {
    & .sp-card-title {
      @apply inset-8;

      @media only screen and (max-width: 1024px) {
        @apply inset-6;
      }

      @media only screen and (max-width: 640px) {
        @apply inset-4;
      }
    }

    & .f-img {
      @apply scale-100;
    }
  }

  & .f-img {
    @apply scale-[1.075] transition-all delay-300 ease-in;
  }

  &-up {
    @apply relative h-[480px] sm:h-[200px] md:h-[260px] lg:h-[400px];
  }

  &-title {
    @apply absolute inset-3 flex flex-col items-center justify-center border-2 border-white-500 p-4 text-white-500 transition-all delay-300 ease-in md:inset-5 md:border-4 lg:inset-12;

    & > span {
      @apply relative pb-2 font-t text-sm font-bold uppercase tracking-sm text-white-500/60 after:absolute after:left-1/2 after:bottom-0 after:h-[2px] after:w-[50px] after:-translate-x-1/2 after:bg-white-500/40 after:content-[""];
    }
  }
}

.logo {
  @apply w-[175px] cursor-pointer md:w-[300px];

  @media only screen and (max-width: 768px) {
    width: 175px !important;
  }
}

.post-details {
  @apply container relative z-20 mx-auto -mt-16 bg-white-500 p-4 sm:p-8;

  & .post-shadow {
    @apply absolute top-16 left-0 right-0 h-[90px] w-full before:absolute before:-left-2 before:content-[url('../public/shadow.png')] after:absolute after:-right-2 after:content-[url(../public/shadow-inverse.png)];
  }
}

.btn-noti {
  @apply mt-4 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between sm:gap-0;

  & > span {
    @apply opacity-100;
  }
}

// Swiper Library
.swiper-pagination-bullet {
  background-color: #031231 !important;
}

// Navbar
.navbar {
  @apply fixed inset-x-0 top-0 z-[99999] flex h-[52px] items-center justify-center border-b border-t border-solid border-b-[#535353] border-t-[#535353] bg-midnight-500 font-h text-sm font-bold uppercase text-white-500;
}

.navbar-logo {
  @apply cursor-pointer justify-self-start px-5 text-3xl;
  text-decoration: none;
}

.nav-menu {
  @apply grid flex-auto list-none grid-cols-5 text-center;
  // grid-template-columns: repeat(5, auto);
  // flex: 1;
}

.nav-item {
  @apply flex h-[52px] cursor-pointer items-center justify-center border-l border-solid border-l-[#535353] tracking-md text-white-500/50;
}

.nav-links {
  @apply px-4 py-2;
  text-decoration: none;
}

.nav-links-mobile,
.menu-icon {
  @apply hidden;
}

.share-link {
  border-left: 1px solid #535353;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 1.4rem;
}

@media screen and (max-width: 960px) {
  .navbar {
    justify-content: space-between;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 25px;
    width: 100%;
    height: calc(100vh - 51px);
    position: absolute;
    top: 51px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease-in;
  }

  .nav-menu.active {
    background: #031231;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease-in;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  }

  .menu-icon {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    margin: 0 12px;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  .nav-item {
    border: none;
  }

  .share-link {
    display: none;
  }
}

// Menu Icon
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.menuActive {
  transform: rotate(45deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: square;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.menuActive .top {
  stroke-dashoffset: -68px;
}
.ham4.menuActive .bottom {
  stroke-dashoffset: -68px;
}

// Dropdown
.dropdown-menu {
  background: red;
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #1888ff;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #5cabff;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}

.pagination {
  @apply col-span-1 flex justify-between;

  @media only screen and (min-width: 768px) {
    grid-column: 1 / span 2;
  }
}

.checkbox {
  @apply flex items-center;
}

.checkbox svg {
  stroke: #031231;
}

.box {
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s linear;
  fill: none;
}

.check {
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  fill: none;
  transition: stroke-dashoffset 0.3s linear;
}

.reverse {
  .box {
    stroke-dashoffset: 320;
  }
  .check {
    stroke-dashoffset: 0;
  }
}

.team-cards {
  @apply mt-8 flex flex-col gap-32;
  margin-bottom: 6rem;

  @media only screen and (min-width: 768px) {
    width: 90%;
  }

  @media only screen and (min-width: 1024px) {
    @apply gap-14;
  }

  .team-card {
    @apply relative;

    &-img {
      position: relative;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 580px;

      @media only screen and (min-width: 768px) {
        width: 90%;
      }

      @media only screen and (min-width: 1024px) {
        width: 78%;
      }
    }

    &-info {
      @apply absolute bg-white-500;
      bottom: -6rem;
      width: 90%;
      max-width: 440px;
      border: 5px solid black;
      padding: 22px 36px;

      @media only screen and (min-width: 1024px) {
        top: 50px;
        bottom: unset;
      }

      & > h2 {
        font-size: 42px;
        line-height: 90%;
      }

      & > span {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
        display: inline-block;
      }

      & > p {
        font-size: 14px;
        font-weight: normal;
      }
    }
  }

  .team-card:nth-child(even) {
    & > .team-card-img {
      right: 0;
      margin-left: auto;
    }

    & > .team-card-info {
      left: 50%;
      transform: translateX(-50%);

      @media only screen and (min-width: 768px) {
        left: 0;
        transform: unset;
      }
    }
  }

  .team-card:nth-child(odd) {
    & > .team-card-img {
      left: 0;
      margin-right: auto;
    }

    & > .team-card-info {
      left: 50%;
      transform: translateX(-50%);

      @media only screen and (min-width: 768px) {
        right: 0;
        left: unset;
        transform: unset;
      }
    }
  }
}
